body{
    margin: 0;
}

.create {
    width: 100%;
    overflow-y: scroll;
}

/* Overflow needed */
.createContainer {
    font-family: "Inter";
    margin: auto;
    height: 90.176svh;
    width: 95%;
    position: relative;
    max-width: 50vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Dear Konrad Dominik Vincler */
/* I must say, I am very impressed by what you have accomplished   */
/* throughout this project. Not only did you help out in the CSS,  */
/* you also did a lot of the react, which I am very thankful for   */
/*                                                                 */
/* I appreciate all the blood, sweat and tears that you have       */
/* poured into this project, as well as keeping a consistent CSS   */
/* style, which helped me understand and work on top of your edits */
/*                                                                 */
/* Now I must ask for your forgiveness for I have went against     */
/* your instruction to not touch this page, and I hope that my     */
/* changes are satisfactory; something you will be pleased with.   */
/*                                                                 */
/* I am quite confident in my CSS skills and that nothing has been
broken, so yipee!                                                                                                                                                                                                                       */
                                                                                                                                                                                   /*  */
/* @@@*/
/* @@@@*                       @@@@@@@@.              @@ @*/
 /* @   @@@          @@@@@@@@@          @@@@@@     @@@   @*/
 /* @@     @@@   @@@@@                       @@@@@@      @*/
  /* @@       @@@                                        @@*/
  /* @@                                                  @@*/
   /* @                                                  @@*/
   /* @@                                                @@*/
   /* @@                                                 @@*/
   /* @@                                                   @*/
  /* @@                                                     @*/
  /* @                                    +@@@@@             @*/
 /* @@           @@@@@@@@@@             @@@@@@@@@@@          @*/
 /* @           @@@   @@@@@@@          @@@@  @@##@@@          @*/
 /* @          @@@   @@@*@@@@:        @@@    @@@@@@@          @*/
 /* @          @@@@@@@@%*@@@@@        @@@@@@@@@@@@@@          @*/
 /* @          @@@%%@@@@@@@@@@        @@@@@@@@@@@@@@          @*/
 /* @           @@@@@@@@@@@@@          @@@@@@@@@@@@           @*/
/* @              @@@@@@@@@             @@@@@@@             @@@@@@@@@@*/
/* @@                          @@@@                   @@@@@  @*/
 /* @@                                                      @                   @@@@*/
  /* @@                                               @@@@@@@@@@@@              +@ @*/
    /* @@    @@@@@            @@@@@@@@                   @                       @ @@*/
      /* @@@:                                         @@@                        @ @@*/
   /* @@@  @@  @@@                                 @@@                          @@ @*/
  /* @       @@@                               @@@@@@@@@@@@@        @@         @@ @@*/
         /* @@  @@@                 @@@@@@@@@@              @@@  @@@   @@@  @@@  @@*/
               /* @@@@@@@@@@@@@@@@@@@                         @@@   @@@@       @@*/
                    /* @                                       @@@@@    @@@@@@@*/
                   /* @@                                        @@*/
                   /* @@                                        @*/
                   /* @@                                        @*/
                   /* @@                                        @*/
                   /* @@           @@         @@@@@@@@@         @*/
                    /* @           @@         @    @  @@        @*/
                    /* @@          @@         @    @   @       @*/
                     /* @          @@         @    @   @      @@*/
                     /* @@         @ @       @@    @   @      @@*/
                      /* @         @ @@      @@@  @@   @@    @@*/
                      /* @@       @   @      @   @      @@@@@@*/
                       /* @@     @@    @@   @@*/
                         /* @@@@@       @@@@:*/

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@##@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@=**#######=@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@=*######@@@@@#+@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@=#######%%@@@@@@#*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@########%%%@@@@@@#%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@+######%%%%%%%@@@@%=@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@=######%%%%%%%%@@@@=@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@########%%%%%%%%@@#=@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@=*#########%###%%%%#=@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%****################@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@#=************==***#############*+@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@=**%##########*******==**#######****@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@=**###******###************==*******=@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@=******#################*###%%**=***=@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@=****#########################%%%%@*=@@@@@@@@@@@@+=+***::****==@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@=***########%%##################%%%%@**=@@@@%+*******.::....********=%@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@****#########%%@##################%%%%@@*==*******%@@..++@@@%@@@@@@******=@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@**#*#########%%@@###################%%%%@@*=***@@@@@%.@@@@@@@@@@@@@@@@@@***:*#@@@@@@@@@@@@@@@@ */
/* @@@@@=*###########%%%@######=-#############%%%@@%*%%%%%%%%@%%@@@@@@@@@@@@@@@@@@...:.**@@@@@@@@@@@@@@ */
/* @@@@****##########%%@##%%%%%%%%#==#########%%%%@@*=%%%%%%%%%%%%%%%%%%%%%%%%%%%%@%#+..**%@@@@@@@@@@@@ */
/* @@@@=**##############%%%%%%%%%%%%##*=#######%%%%@%=%%%%%%%%*++++++%%%%%%%%%%%%%%%%%*.****@@@@@@@@@@@ */
/* @@@@***#############%%%%%%%%%%%%%%%%%#*=#####%%%%@+%%%%%%%**  %%%  *%%%%%%%%%%%%%%%%%%****#@@@@@@@@@ */
/* @@@***###########%#%%%%%%%%%%%%#%%%%%%@@#=####*%%*=%%%%%%* %%%@%%%% *%%%%%%%++*++%%%%%%****=@@@@@@@@ */
/* @@@***###########%%%%%%%%%%%%%%%#%%%%%%@@@#=###***####### %@@@#@@@@%:#%%%%**      **%%%%****=@@@@@@@ */
/* @@@@**##########%%%%%%%%%%%%%%%%%#%%%%%%%@@##=##=#%%%%###@@@-@*+==@@%+###**%@@@@@@% #####****=@@@@@@ */
/* @@@@=**########%%%@==*%%%%%%%%%%%###%%%%%%@@##=#########*@@ *@  :+@@@.###**@@  @@@@@.####*****%@@@@@ */
/* @@@@=**########%%@@##%%%*=%%%%%%#####%%%%%%@@#*######***=%@ +   -:@@@=%###@+@@ + @@@@.###******@@@@@ */
/* @@@@@+**########%@#####%%%%%==########%%%%%%%@*###%%%%****%+:=@@-@@@%#%#%#@=-   +*@@@%.##*******@@@@ */
/* @@@@@#**################%%%%@%#=########%%%%%%+#########**##%@@@@@@%=%%%%%: * =@=#@@@% **#*****+@@@@ */
/* @@@@@@+***################%%%%@@#=########%%#*=#=#####-#**###%-%%%%+%%%%%%%.%--: @@@%%***#******@@@@ */
/* @@@@@@@@***#################%%%%%##=######***=########=##=*%%#%::+#%%%%%%%%%*@@@@@%%#:*###******%@@@ */
/* @@@@@@@@@=***#################%%%%%#=####*==###########+%%%%%%%*%%%%%%%%%%%###=*%=#******#*******@@@ */
/* @@@@@@@@@@@=***#################%%%#*=+***##############==%%%%%%%%%%%%%%%%%####*#*****####******#@@@ */
/* @@@@@@@@@@@@@+****################%*=*****###############  %*%%%%%%%%%%%%%%%%######+*#####******@@@@ */
/* @@@@@@@@@@@@@@@@=***#**************=##*****##############= +%%%=####################+###-#*****+@@@@ */
/* @@@@@@@@@@@@@@@@@@@@=+***********=@*%##****###############   @@@%%%%==**********=+#######******=@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#*%###***##############=    @@@@@@@@@@@@  =##########*******@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@=*%%##***##############:     -@@@@@@@@  =###########******#@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*#%%%#***##############-+.            .##########*******+@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@**%%%%#**##############-=*..         ##########*******=@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@**@%%%#**##############::::=+.     =########********+@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@=*@@%%%#***############=:::::    *#######*********@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@**@@%%%#****#######**###==--=#######**********=@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#**@%%%%#******#####**********#*************@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%**@%%%##************#***##*************%@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@=**%%%###*************************=@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@=**%%##*********************=@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#+*****************=#@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%#%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.createContainer input, .createContainer textarea, .createContainer select {
    outline: none;
    padding: 8px;
    font-family: "Inter";
}

.createLegend {
    /* font-family: "Kaiti SC"; */
    font-family: "Public Sans", Verdana, sans-serif;
    font-size: 2em;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: left;
    margin-right: auto;
    /* margin-left: 5vw; */
    margin-top: 3.025svh;
}

.createForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .8svh;
}


.infield {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.20);
    border-radius: 2px;
    font-size: 14px;
    height: 44px;

    background-color: #E4E5E8;
}

.infield::placeholder, option[value="placeholder"]{
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.inlineContainer{
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.inlineContainer div {
    width: 100%;
    flex-grow: 1;
}

.descriptionInput {
    font-family: "Inter";
    resize: none;
    height: 20svh;
    padding-top: 1vh;
}

.proofArea {
    min-height: 30svh;
    max-height: max-content;
    border: 3px dashed rgba(15, 31, 60, 0.4);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 0svh;
    align-items: center;
    justify-content: center;
}

.proofArea-upload-footer {
    display: flex;
    flex-direction: column;
    gap: 0svh;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.proofPreview {
    height: 15svh;
    max-width: 100%;
    margin-bottom: 1svh;
}

.proofArea svg {
   font-size: 40px; /* set's the size of the image */
} 

.proofArea-picture-gallery {
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.proof-image-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.imageInput { 
    /* 
        taken from 
        https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/
    */
    /*width: 0.1px;
	height: 0.1px;
    overflow: hidden;*/
	opacity: 0;
	position: absolute;
	z-index: -1;
}

.createForm .buttons {
    display: flex;
    flex-direction: row;
    gap: 5px;
    height: 32px;
}

.almostButton, .cancelButton {
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    background: #E4E5E8;
}

.clearSubmit {
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: linear-gradient(0deg, hsl(225, 8%, 80%), 80%, #E4E5E8);
    background-size: 400% 400%;

    color: black;
}


.createSubmit, .clearSubmit {
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    vertical-align: middle;
    width: 100%;
    /* height: 64px; */
    cursor: pointer;

    transition: .3s;
}

.createSubmit {
    color: #FFF;
    background: linear-gradient(0deg, #0f1f3c, 80%, #204382);
    background-size: 400% 400%;

    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.20);

    /* margin-bottom: 5vh; */
    
}

.createSubmit:hover, .clearSubmit:hover {
    background-position:50% 20%
}


/* Clear draft modal */

.createForm .draft-clear-modal {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Public Sans', Verdana, sans-serif;
}

.createForm .draft-clear-modal .options {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    height: 50px;
    color: white;
}

.createForm .draft-clear-modal .options .clear, .createForm .draft-clear-modal .options .cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

.createForm .draft-clear-modal .options .clear {
    background-color: #122446;
}

.createForm .draft-clear-modal .options .clear:hover {
    background-color: #172e5a;
}

.createForm .draft-clear-modal .options .cancel {
    background-color: #ccced3;
}

.createForm .draft-clear-modal .options .cancel:hover {
    background-color: #bec1c7;
}

/*  */



/* laptop view of the navbar */
@media screen and (min-width: 1024px) {
    .create {
        width: calc(100% - 9.375vw);
        overflow-y: scroll;
        margin-left: 9.375vw;
    }

    .createContainer {
        width: 89vw;
        height: 100svh;
    }
}

/* mobile view  */
@media screen and (max-width: 1024px) {
    .createContainer {
        max-width: none;
    }
    
    .dateInput {
        min-width: 95%;
    }
    .buttons {
        margin-bottom: 6.5vh;
    }
}

@media screen and (max-width: 560px) {
    .createForm .draft-clear-modal {
        width: 80vw;
    }
}
