.LMEContainer{
    /* font-family: "Kaiti SC"; */
    font-family: "Public Sans", Verdana, sans-serif;
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
}

.LMEBody{
    margin-left: 10vw;
    width: 90vw;
    height: 91svh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.LMEBody .title{
    font-size: 2em;
    font-weight: 600;
}

.optionsList{
    height: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.optionsList button {
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px;
}

.optionsList button:hover {
    background-color: hsla(206, 22%, 81%, 0.418);
}

.option {
    width: auto;
    height: auto;
    border: none;
    background-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 2vw;
    background-color: rgb(190, 188, 188);
    color : rgb(0, 0, 0);
}

.optionActive {
    box-shadow: 0 4px 4px rgba(255, 255, 255, 0.25);
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 2vw;
    background: linear-gradient(1deg, #0F1F3C 29.91%, #204382 98.99%);
    color: #ffffff;
}

.columnTitles{
    height: 5%;
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid grey;
    margin-right: 20px;
}

.columnTitles p{
    color: #00008B;
    flex-basis:100%;
}

.scrollboxExpenses{
    width: 100%;
    height: 75%;
}

.claimInfo{
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    transition: background-color 0.3s ease;
}

.claimInfo li{
    display: block;
    flex-basis: 100%;
    list-style-type: none;
    color: black;
}

.claimInfo:hover{
    background-color: hsla(206, 22%, 81%, 0.418);
}