body{
    margin: 0;
}

#ViewProfileHeader {
    text-align: center;
    font-family: "Public Sans", Verdana, sans-serif;
}

.ProfileBody{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 90.176svh;
    overflow-y: scroll;
}

.ProfileBody .info {
    display: flex;
    flex-direction: column;
}

#EmployeeRole {
    font-weight: 200;
    color: rgba(0,0,0,0.6);
    text-align: center;
}

.pfp{
    height: 220px;
    border-radius: 150px;
    align-self: center;
}

#EmployeeName{
    font-size: 30px;
    /* font-family: 'Kaiti SC'; */
    font-family: "Public Sans", Verdana, sans-serif;
    text-align: center;
}

#Stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: auto;
    margin-block-start: 30px;
    align-items: baseline;
    gap: 20px;
}

#Stats .stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.StatsTitle{
    color:#204382;
    font-size: 20px;
    font-weight:400;
}

.cont{
    font-size: 22px;
    font-weight: 300;
}

.change-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.change-password label {
    font-family: 'Public Sans', Verdana, sans-serif;
}

.change-password-form .row input{
    /* width: 100%; */
    border: 1px solid rgba(0, 0, 0, 0.20);
    border-radius: 2px;
    font-size: 14px;
    padding: 4px 6px;
}

.change-password-form .row input:focus {
    outline: none;
}

.change-password .modal-button, .change-password .submit-button {
    color: white;
    background-color: #0f1f3c;
    padding: 15px 35px;
    margin-bottom: 1svh;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.change-password .modal-button:hover, .change-password .submit-button:hover {
    background-color: #1a3363;
}

.ProfileBody .change-password-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ProfileBody .change-password-form .error-message {
    color: red;
}

.ProfileBody .change-password-form .success-message {
    color: green;
}

@media screen and (min-width: 1024px) {
    .ProfileBody{
        height: 100svh;
    }

    .ProfileBody .change-password-form div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 5px;
    }
}

@media screen and (max-width: 1024px) {
    .change-password {
        margin-bottom: 4vh;
    }

    .change-password-form div {
        display: flex;
        flex-direction: column;
    }
}