#JudgmentContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#TitleBar {
    display: flex;
    align-items: center;
}

#TitleBar .page-title {
    font-family: "Public Sans", Verdana, sans-serif;
    font-size: 2em;
    font-weight: 600;
}

#DenyClaim {
    background-color: white;
    border: 1px solid #0F1F3C;
}

#DenyClaim:hover {
    background-color: hsla(206, 22%, 81%, 0.418);
}

#DenyClaim p {
    color: #0F1F3C;
}

#ApproveClaim {
    background-color: #0F1F3C;
}

#ApproveClaim:hover {
    background-color: #26354F;
}

#ApproveClaim p {
    color: white;
}

.JudgementButton {
    width: 49.5%;
    height: 7svh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}